<!--
  Generated template for the MegasenaPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>megasena</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

    <form  (ngSubmit)="cadastrar()" #formulario="ngForm">
        <ion-item >
          <ion-label stacked>Concurso de início:</ion-label>
          <ion-input type="number" [(ngModel)]="concurso" name="concurso"></ion-input>
        </ion-item>

        <ion-item *ngIf="!isTeimosinha && !isRecorrente">
          <ion-label stacked>Quantos concursos?</ion-label>
          <ion-input type="number" [(ngModel)]="qntConcursos" name="qntConcursos"></ion-input>
       </ion-item>
    
        <ion-item *ngIf="!isTeimosinha">
          <ion-label stacked>Recorrente:</ion-label>
          <ion-toggle  [(ngModel)]="recorrente" name="recorrente"></ion-toggle>
        </ion-item>

        <ion-item *ngIf="!isRecorrente">
            <ion-label stacked>Teimosinha:</ion-label>
            <ion-toggle [(ngModel)]="teimosinha" name="teimosinha"></ion-toggle>
        </ion-item>

        <ion-item *ngIf="isTeimosinha && !isRecorrente">
            <ion-label stacked>Quantidade:</ion-label>
            <ion-select [(ngModel)]="qntTeimosinha" name="qntTeimosinha">
                <ion-option value="2">2</ion-option>
                <ion-option value="4">4</ion-option>
                <ion-option value="8">8</ion-option>
              </ion-select>
        </ion-item>

        
        
        <ion-item>
          <h6 stacked>Marque seus números: {{quantidadeMarcado}} - {{getPreco(quantidadeMarcado) | currency:'R$ ' }}</h6>
          <ion-grid>
            <ion-row align-items-center>
                <ion-col col-2
                  class="grid"
                  *ngFor="let row of counter(60); let i = index "
                  (click)="toggleSelect(i)" 
                  [ngClass]="isSelected(i) ? 'border' : ''"
                >
                
                  {{i+1}}
                  <span > 
                   
                  </span>
              </ion-col >   
            </ion-row>
          </ion-grid> 
          
        </ion-item>


    
       
      </form>
      <ion-fab top right edge> 
        <button ion-fab mini (click)="formulario.ngSubmit.emit()" >
            <ion-icon name="send"></ion-icon>
        </button>
      </ion-fab> 



</ion-content>
