<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Meus Jogos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="presentActionSheet()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>


  <ion-list> 
    <ion-item *ngFor="let jogo of jogos" (click)="detalharJogo(jogo)">
      
      <h2 class="{{jogo.jogotipo.logo_cor}}"> {{jogo.jogotipo.nome}}</h2>
      <p>
          Concurso: {{jogo.concurso}}
          <ion-badge *ngIf="jogo.ganhou == 's'" color="secondary" > 
            <ion-icon  name="logo-usd"></ion-icon>
            Ganhou! 
          </ion-badge>
          
          <ion-badge *ngIf="jogo.ganhou == 'n' && jogo.conferido == 's'" color="light" > 
              <ion-icon  name="sad"></ion-icon>
              Não ganhou
            </ion-badge>


          <ion-badge color="light" *ngIf="jogo.conferido == 'n'" > 
              <ion-icon  name="alarm"></ion-icon>
              Aguardando 
          </ion-badge>
            
          <ion-badge color="light" *ngIf="jogo.arquivado == 's'" > 
              <ion-icon name="filing"></ion-icon>
              Arquivado 
          </ion-badge>
          
          
          
          
      </p>
      
      <span *ngFor="let dez of jogo.jogodetalhes.dezenas">
          <button color="{{(dez[1]=='false')? 'light':'primary'}}" ion-button round>{{dez[0]}}</button>
          
      </span>

      
    </ion-item>
  </ion-list>

  

</ion-content>
