<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Meus Jogos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
 
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list *ngFor="let jogo of listaDeJogos"> 
      <ion-item>  
        <ion-label>
          <h2>{{jogo.nome}}</h2>
          <h3>{{jogo.concurso}} - {{jogo.dataSorteio}}</h3>
        </ion-label> 
      </ion-item>
  </ion-list>





</ion-content>
